@mixin addFonts ($font-primary) {
  .v-application {
    [class*='text-'],[class*='body-'] {
      font-family: $font-primary, Helvetica Neue, sans-serif !important;
    }
    .headline, .title {
      font-family: $font-primary, Helvetica Neue, sans-serif !important;
    }

    font-family: $font-primary, Helvetica Neue, sans-serif !important;
  }

  .shaka-video-container * {
    font-family: $font-primary, Helvetica Neue, sans-serif;
  }
}

.latin {
  @include addFonts('Helvetica Neue');
}

.bengali {
  @include addFonts('Baloo Da 2');
}

.traditional-chinese {
  @include addFonts('Noto Sans TC');
}

.simplified-chinese {
  @include addFonts('Noto Sans SC');
}

.japanese {
  @include addFonts('Noto Sans JP');
}

.korean {
  @include addFonts('Noto Sans KR');
}

.russian {
  @include addFonts('Nunito Sans');
}

.arabic-script {
  @include addFonts('Noto Naskh Arabic');

  .v-btn {
    letter-spacing: 0 !important;
  }
}

.v-application {
  max-width: 100vw;
  overflow: hidden;
}
