@mixin addFonts ($font-primary) {
  $font-line: Antar, $font-primary, system-ui, sans-serif;

  .v-application {
    [class*='text-'],[class*='body-'] {
      font-family: $font-line !important;
    }
    .headline, .title {
      font-family: $font-line !important;
    }

    font-family: $font-line !important;
  }
}

// Fix for https://github.com/vuetifyjs/vuetify/issues/9130, PM so far doesn't care about IE
.v-card__text, .v-card__title {
  word-break: normal !important;
}

.latin {
  @include addFonts('Antar');
}

.bengali {
  @include addFonts('Baloo Da 2');
}

.traditional-chinese {
  @include addFonts('Noto Sans TC');
}

.simplified-chinese {
  @include addFonts('Noto Sans SC');
}

.japanese {
  @include addFonts('Noto Sans JP');
}

.korean {
  @include addFonts('Noto Sans KR');
}

.arabic-script {
  @include addFonts('Noto Naskh Arabic');

  .v-btn {
    letter-spacing: 0 !important;
  }
}

.v-application {
  max-width: 100vw;
  overflow: hidden;
}
