@mixin addFonts ($font-primary) {
  .v-application {
    [class*='text-'],[class*='body-'] {
      color: #36405a;
      font-family: $font-primary, sans-serif !important;
    }
    .headline, .title {
      font-family: $font-primary, sans-serif !important;
    }

    font-family: $font-primary, sans-serif !important;
  }
}

.latin {
  @include addFonts('Helvetica Neue');
}

.bengali {
  @include addFonts('Hind Silliguri')
}
