.shaka-text-container > div {
	height: auto !important;
	width: auto !important;
	top: auto !important;
	left: auto !important;
}

.shaka-text-container * {
	background-color: rgba(8, 8, 8, 0.75) !important;
	color: white !important;
}

.shaka-video-container:-webkit-full-screen {
	max-height: none !important;
}
