.shaka-video-container:-webkit-full-screen {
	max-height: none !important;
}

.shaka-settings-menu {
	button {
		line-height: 1;
	}

	i {
		font-style: normal;
	}
}

.shaka-overflow-menu {
	i {
		font-style: normal;
	}
}

.pm-shaka-preview {
    position: absolute;
    z-index: 2000;
    bottom: 0;
    margin-bottom: 4.5%;
}
